// ------- XLARGE ----------- //
@media (max-width: 1800px) {
  #header {
    padding: 6em 3em 3em 3em;
    width: 30%;
    h1 {
      font-size: 1.25em;
      br {
        display: none;
      }
    }
  }

  #footer {
    padding: 3em 0 5em 3em;
    .copyright li {
      border-left-width: 0;
      display: block;
      line-height: 2.25em;
      margin-left: 0;
      padding-left: 0;
    }
  }

  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%);
  }
}

// ------- LARGE ----------- //
@media (max-width: 1280px) {
  #header {
    padding: 6em 3em 3em 3em;
    width: 30%;
    h1 {
      font-size: 1.25em;
      br {
        display: none;
      }
    }
  }

  #footer {
    padding: 3em 0 5em 3em;
    .copyright li {
      border-left-width: 0;
      display: block;
      line-height: 2.25em;
      margin-left: 0;
      padding-left: 0;
    }
  }

  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%);
  }
}

// ------- MEDIUM ----------- //
@media (max-width: 980px) {
  // Basic

  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none;
  }

  // List

  ul.icons li .icon {
    font-size: 1.25em;
  }

  // Header

  #header {
    background-attachment: scroll;
    background-position: top left,  center center;
    background-size: auto,    cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    h1 {
      font-size: 1.75em;
      br {
        display: inline;
      }
    }
  }

  // Footer

  #footer {
    padding: 4em 4em 6em 4em;
    position: relative;
    text-align: center;
    width: 100%;
    .icons {
      margin: 0 0 1em 0;
    }
    .copyright {
      margin: 0 0 1em 0;
      li {
        border-left-width: 1px;
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em;
      }
    }
  }

  // Main

  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;
  }
}

// ------- SMALL ----------- //
@media (max-width: 736px) {

  // Basic
  h1{font-size: 1.5em;}

  h2{font-size: 1.2em;}

  h3{font-size: 1em;}

  // Section/Article
  section.special, article.special {
    text-align: center;
  }

  header.major h2 {
    font-size: 1.35em;
  }

  // List
  ul.labeled-icons li {
    padding-left: 2em;
    h3 {
      line-height: 1.75em;
    }
  }

  #header {
    padding: 2.25em 1.5em;
    h1 {
      font-size: 1.35em;
    }
  }

  #footer {
    padding: 2.25em 1.5em;
  }

  #main {
    padding: 2.25em 1.5em 0.25em 1.5em;
    > section {
      margin: 2.25em 0 0 0;
      padding: 2.25em 0 0 0;
    }
  }
}

// ------- XSMALL ----------- //
@media (max-width: 480px) {
  // List
  ul.actions {
    margin: 0 0 2em 0;
    li {
      display: block;
      padding: 1em 0 0 0;
      text-align: center;
      width: 100%;
      &:first-child {
        padding-top: 0;
      }
      > * {
        margin: 0 !important;
        width: 100%;
        &.icon:before {
          margin-left: -2em;
        }
      }
    }
    &.small li {
      padding: 0.5em 0 0 0;
      &:first-child {
        padding-top: 0;
      }
    }
  }

  // Header

  #header {
    // padding: 4.5em 1.5em;
    h1 br {
      display: none;
    }
  }

  // Footer

  #footer .copyright li {
    border-left-width: 0;
    display: block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 0;
  }
}
