@import "./fontello";
body {
  background: #fff;
  color: #a2a2a2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.75em;
}

input, select, textarea {
  color: #a2a2a2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em;
}

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #49bf9d;
  text-decoration: none;
  &:hover {
    border-bottom-color: transparent;
    color: #49bf9d !important;
    text-decoration: none;
  }
  &.disabled {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
    border-bottom: 0!important;
    &:hover, &:focus {
      background-color: transparent;
      color: #777!important;
      text-decoration: none;
      // background-color: #eee;
    }
  }
}

strong, b {
  color: #787878;
  font-weight: 400;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #787878;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

hr {
  border: 0;
  border-bottom: solid 2px #efefef;
  margin: 2em 0;
  &.major {
    margin: 3em 0;
  }
}

blockquote {
  border-left: solid 6px #efefef;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 1.5em;
}

code {
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px #efefef;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
  }
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
// Section/Article

section.special, article.special {
  text-align: center;
}

header {
  p {
    color: #b2b2b2;
    position: relative;
    margin: 0 0 1.5em 0;
  }
  h2 + p {
    font-size: 1.25em;
    margin-top: -1em;
    line-height: 1.5em;
  }
  h3 + p {
    font-size: 1.1em;
    margin-top: -0.8em;
    line-height: 1.5em;
  }
  h4 + p, h5 + p, h6 + p {
    font-size: 0.9em;
    margin-top: -0.6em;
    line-height: 1.5em;
  }
  &.major h2 {
    font-size: 2em;
  }
}

// Icon
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  &:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  > .label {
    display: none;
  }
}

// Image

.avatar {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative;
  &:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: url("../img/overlay.png");
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &.thumb {
    text-align: center;
    &:after {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      border: solid 3px rgba(255, 255, 255, 0.5);
      color: #fff;
      content: 'View';
      display: inline-block;
      font-size: 0.8em;
      font-weight: 400;
      left: 50%;
      line-height: 2.25em;
      margin: -1.25em 0 0 -3em;
      opacity: 0;
      padding: 0 1.5em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 50%;
      white-space: nowrap;
    }
    &:hover {
      &:after {
        opacity: 1.0;
      }
      &:before {
        background: url("../img/overlay.png"), url("../img/overlay.png");
        opacity: 0.4;
      }
    }
  }
  img {
    border-radius: 0.35em;
    display: block;
  }
  &.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
  }
  &.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
  }
  &.left, &.right {
    max-width: 40%;
  }
  &.left img, &.right img {
    width: 100%;
  }
  &.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
    img {
      width: 100%;
    }
  }
  &.avatar {
    border-radius: 0.35em;
    &:before {
      display: none;
    }
    img {
      border-radius: 0.35em;
      width: 100%;
    }
  }
}

ul {
  list-style: disc;
   margin: 0 0 2em 0;
  padding-left: 1em;
  li {
    padding-left: 0.5em;
  }
  &.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 0 1em 0 0;
      &:last-child {
        padding-right: 0;
      }
      .icon:before {
        font-size: 1.5em;
      }
    }
  }
}

// Header
#header {
  background-color: #1f1815;
  background-attachment: scroll,fixed;
  background-image: url("../img/overlay.png"), url("../img/bg.jpg");
  background-position: top left, top left;
  background-repeat: repeat,no-repeat;
  background-size: auto,cover;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%;
  strong, b, h2, h3, h4, h5, h6 {
    color: #ffffff;
  }
  h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0;
  }
  .image.avatar {
    margin: 0 0 1em 0;
    width: 6.25em;
  }
}

// Footer

#footer {
  padding: 8em 0 6em 0;
  text-align: right;
  .icons {
    margin: 1em 0 0 0;
    a {
      color: rgba(255, 255, 255, 0.4);
    }
  }
  .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8em;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0;
    li {
      border-left: solid 1px rgba(255, 255, 255, 0.25);
      display: inline-block;
      line-height: 1em;
      margin-left: 0.75em;
      padding-left: 0.75em;
      &:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
      }
      a {
        color: inherit;
      }
    }
  }
}

// Main

#main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%);
  > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
    &:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
    }
  }
  .card {
    margin-bottom: 30px;
    &-block {
      position: relative;
    }
    &-title {
      margin: 0;
      a {
        border-bottom: none;
      }
      &-new {
        width: 44px;
        height: 64px;
        background: url("../img/bookmark.png") no-repeat bottom center;
        background-size: 100%;
        position: absolute;
        border-top: 1px solid #e64545;
        top: -1px;
        right: 20px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        text-transform: uppercase;
      }
    }
    p {
      height: 56px;
      overflow: hidden;
      margin: 0;
      line-height: 1.3rem;
    }
    img {
      width: 100%;
    }
    &-bottom {
      height: 30px;
    }
  }
}


@import "mqueries";