@charset "utf-8";
/*@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/


/*@import url(http://fonts.googleapis.com/css?family=Dosis:300);  Body */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);



*{
	margin:0;
	padding:0;
}
.clearfix{
	height: 1px;
	clear: both;
}
/*h1,h2,h3{
	margin: 10px 0 10px 0;
	font-weight: normal;
}
h2{
	font-family: 'Averia Sans Libre', cursive;
	text-transform: uppercase;
}*/


/*html, body{
	height:100%;
}*/

body{
	font-family: 'Droid Sans', sans-serif;
	font-size: 14px;
	background: url("../images/page_bg.png") repeat;
	color: #000;
}
#container{
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	max-width: 980px;
	min-width: 450px;
	margin: auto;
}

/* Header */

#header{
	height: 130px;
	position: relative;
}
#nav{
	width: 450px;
	height: 60px;
	position: absolute;
	bottom: 0;
	right: 0;
}
#nav a{
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	float:left;
	display:block;
	padding: 10px 20px;
	text-decoration: none;
}
/* .not() not working on IE8 */
#nav a{
	background: url("../images/navbar.jpg") repeat-y center right;
}
#nav .last{
	background: none;
}
#nav a:visited{color: #333}
#nav a:not(.active){color: #333}
#nav a{color: #333;} /* IE8 */
/*#nav a:active{}
#nav a:hover{}*/
.active{
	color: #999 !important;
	cursor: default;
}


#logo{
	width: 418px;
	height: 107px;
	position: absolute;
	top:10px;
	left: 0;
}


/* Content */

#content{
	position: relative;
	border: 1px solid #e2ddde;
	border-radius: 6px;
	-webkit-box-shadow: 1px 2px 4px rgba(50, 50, 50, 0.30);
	-moz-box-shadow:    1px 2px 4px rgba(50, 50, 50, 0.30);
	box-shadow:         1px 2px 4px rgba(50, 50, 50, 0.30);
	padding: 30px 30px 80px 30px;
	background: url("../images/bottom.jpg") repeat-x bottom center #fff;
	min-height: 300px;
}
#content h1{
	font-weight: normal;
	border-bottom: 1px solid #e9e9e9;
	color: #999;
	padding: 5px 10px 5px 0;
	margin: 0 0 15px 0;
}
#content h2{
	color: #999;
	font-weight: normal;
	font-size: 18px;
}

#next{
	background: url("../images/button.png") no-repeat;
	position: absolute;
	color: #666;
	text-transform: capitalize;
	cursor: pointer;
	right: 30px;
	bottom: 30px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	padding-top: 6px;
	height: 24px;
}
#next:hover{
	background: url("../images/button_inverted.png") no-repeat;
}
.hrule{
	height: 2px;
	background: url("../images/hrule.jpg") repeat-x ;
}

/* Footer */
#footer{
	margin: 20px 0;
	text-align: center;
	color: #a8a8c2;
	font-size: 15px;
}


/* Home */

#intro{
	margin: 20px 0 25px 0;
}
#intro p{
	float: left;
	width: 500px;
	vertical-align: middle;
}

#imgHome{
	vertical-align: middle;
	float: left;
	margin: 0 20px 0 0;
	height: 200px;
}
#relaciones li{
	margin: 0 0 0 25px;
	/*list-style-type: square;*/
}
#relaciones{
	list-style-image: url('../images/list-style.gif');
}



/* Integrantes */

.profile{
	width: 190px;
	padding: 10px;
	margin: 10px 0 0 10px;
	text-align: center;
	float: left;
}
.profile img{
	width: 110px;
	height: 110px;
}
.name, .description{
	text-align: center;
	display: block;
}
.name{
	font-weight: 400;
	padding: 8px 0 3px;
	color: #202020;
	font-size: 16px;
}
.description{
	font-weight: 400;
	color: #6b6b6b;
	font-size: 12px;
}
#accordion{
	height: 400px;
	margin-top: 20px; 
}

#contact{
	font-size: 16px;
}