.p {
  color: red; }

@font-face {
  font-family: 'fontello';
  src: url("/font/fontello.eot?1901927");
  src: url("/font/fontello.eot?1901927#iefix") format("embedded-opentype"), url("/font/fontello.woff2?1901927") format("woff2"), url("/font/fontello.woff?1901927") format("woff"), url("/font/fontello.ttf?1901927") format("truetype"), url("/font/fontello.svg?1901927#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/font/fontello.svg?1901927#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-twitter:before {
  content: '\e800'; }

.icon-github:before {
  content: '\e801'; }

.icon-facebook-circled:before {
  content: '\e802'; }

.icon-linkedin-squared:before {
  content: '\e803'; }

.icon-instagram:before {
  content: '\e804'; }

.icon-paper-plane-empty:before {
  content: '\e805'; }

.icon-paper-plane:before {
  content: '\e806'; }

.icon-facebook-squared:before {
  content: '\e807'; }

.icon-linkedin:before {
  content: '\e808'; }

.icon-briefcase:before {
  content: '\e809'; }

.icon-briefcase-detail:before {
  content: '\e80a'; }

body {
  background: #fff;
  color: #a2a2a2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  line-height: 1.75em; }

input, select, textarea {
  color: #a2a2a2;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.75em; }

a {
  -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: #49bf9d;
  text-decoration: none; }
  a:hover {
    border-bottom-color: transparent;
    color: #49bf9d !important;
    text-decoration: none; }
  a.disabled {
    color: #777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed;
    border-bottom: 0 !important; }
    a.disabled:hover, a.disabled:focus {
      background-color: transparent;
      color: #777 !important;
      text-decoration: none; }

strong, b {
  color: #787878;
  font-weight: 400; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  color: #787878;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 1em 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 2em;
  line-height: 1.5em; }

h2 {
  font-size: 1.5em;
  line-height: 1.5em; }

h3 {
  font-size: 1.25em;
  line-height: 1.5em; }

h4 {
  font-size: 1.1em;
  line-height: 1.5em; }

h5 {
  font-size: 0.9em;
  line-height: 1.5em; }

h6 {
  font-size: 0.7em;
  line-height: 1.5em; }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border: 0;
  border-bottom: solid 2px #efefef;
  margin: 2em 0; }
  hr.major {
    margin: 3em 0; }

blockquote {
  border-left: solid 6px #efefef;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 1.5em; }

code {
  background: #f7f7f7;
  border-radius: 0.35em;
  border: solid 2px #efefef;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em; }

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0; }
  pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

section.special, article.special {
  text-align: center; }

header p {
  color: #b2b2b2;
  position: relative;
  margin: 0 0 1.5em 0; }
header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.5em; }
header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em; }
header h4 + p, header h5 + p, header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em; }
header.major h2 {
  font-size: 2em; }

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

.avatar {
  border-radius: 0.35em;
  border: 0;
  display: inline-block;
  position: relative; }
  .avatar:before {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background: url("../img/overlay.png");
    border-radius: 0.35em;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%; }
  .avatar.thumb {
    text-align: center; }
    .avatar.thumb:after {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -o-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      border-radius: 0.35em;
      border: solid 3px rgba(255, 255, 255, 0.5);
      color: #fff;
      content: 'View';
      display: inline-block;
      font-size: 0.8em;
      font-weight: 400;
      left: 50%;
      line-height: 2.25em;
      margin: -1.25em 0 0 -3em;
      opacity: 0;
      padding: 0 1.5em;
      position: absolute;
      text-align: center;
      text-decoration: none;
      top: 50%;
      white-space: nowrap; }
    .avatar.thumb:hover:after {
      opacity: 1.0; }
    .avatar.thumb:hover:before {
      background: url("../img/overlay.png"), url("../img/overlay.png");
      opacity: 0.4; }
  .avatar img {
    border-radius: 0.35em;
    display: block; }
  .avatar.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em; }
  .avatar.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em; }
  .avatar.left, .avatar.right {
    max-width: 40%; }
  .avatar.left img, .avatar.right img {
    width: 100%; }
  .avatar.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%; }
    .avatar.fit img {
      width: 100%; }
  .avatar.avatar {
    border-radius: 0.35em; }
    .avatar.avatar:before {
      display: none; }
    .avatar.avatar img {
      border-radius: 0.35em;
      width: 100%; }

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 1.5em; }

#header {
  background-color: #1f1815;
  background-attachment: scroll,fixed;
  background-image: url("../img/overlay.png"), url("../img/bg.jpg");
  background-position: top left, top left;
  background-repeat: repeat,no-repeat;
  background-size: auto,cover;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  padding: 8em 4em 0 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 35%; }
  #header strong, #header b, #header h2, #header h3, #header h4, #header h5, #header h6 {
    color: #ffffff; }
  #header h1 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.35em;
    line-height: 1.75em;
    margin: 0; }
  #header .image.avatar {
    margin: 0 0 1em 0;
    width: 6.25em; }

#footer {
  padding: 8em 0 6em 0;
  text-align: right; }
  #footer .icons {
    margin: 1em 0 0 0; }
    #footer .icons a {
      color: rgba(255, 255, 255, 0.4); }
  #footer .copyright {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8em;
    list-style: none;
    margin: 1em 0 0 0;
    padding: 0; }
    #footer .copyright li {
      border-left: solid 1px rgba(255, 255, 255, 0.25);
      display: inline-block;
      line-height: 1em;
      margin-left: 0.75em;
      padding-left: 0.75em; }
      #footer .copyright li:first-child {
        border-left: 0;
        margin-left: 0;
        padding-left: 0; }
      #footer .copyright li a {
        color: inherit; }

#main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 35%); }
  #main > section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0; }
    #main > section:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0; }
  #main .card {
    margin-bottom: 30px; }
    #main .card-block {
      position: relative; }
    #main .card-title {
      margin: 0; }
      #main .card-title a {
        border-bottom: none; }
      #main .card-title-new {
        width: 44px;
        height: 64px;
        background: url("../img/bookmark.png") no-repeat bottom center;
        background-size: 100%;
        position: absolute;
        border-top: 1px solid #e64545;
        top: -1px;
        right: 20px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        line-height: 50px;
        text-transform: uppercase; }
    #main .card p {
      height: 56px;
      overflow: hidden;
      margin: 0;
      line-height: 1.3rem; }
    #main .card img {
      width: 100%; }
    #main .card-bottom {
      height: 30px; }

@media (max-width: 1800px) {
  #header {
    padding: 6em 3em 3em 3em;
    width: 30%; }
    #header h1 {
      font-size: 1.25em; }
      #header h1 br {
        display: none; }

  #footer {
    padding: 3em 0 5em 3em; }
    #footer .copyright li {
      border-left-width: 0;
      display: block;
      line-height: 2.25em;
      margin-left: 0;
      padding-left: 0; }

  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%); } }
@media (max-width: 1280px) {
  #header {
    padding: 6em 3em 3em 3em;
    width: 30%; }
    #header h1 {
      font-size: 1.25em; }
      #header h1 br {
        display: none; }

  #footer {
    padding: 3em 0 5em 3em; }
    #footer .copyright li {
      border-left-width: 0;
      display: block;
      line-height: 2.25em;
      margin-left: 0;
      padding-left: 0; }

  #main {
    margin-left: 30%;
    max-width: none;
    padding: 6em 3em 3em 3em;
    width: calc(100% - 30%); } }
@media (max-width: 980px) {
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none; }

  ul.icons li .icon {
    font-size: 1.25em; }

  #header {
    background-attachment: scroll;
    background-position: top left,  center center;
    background-size: auto,    cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%; }
    #header h1 {
      font-size: 1.75em; }
      #header h1 br {
        display: inline; }

  #footer {
    padding: 4em 4em 6em 4em;
    position: relative;
    text-align: center;
    width: 100%; }
    #footer .icons {
      margin: 0 0 1em 0; }
    #footer .copyright {
      margin: 0 0 1em 0; }
      #footer .copyright li {
        border-left-width: 1px;
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em; }

  #main {
    margin: 0;
    padding: 6em 4em;
    width: 100%; } }
@media (max-width: 736px) {
  h1 {
    font-size: 1.5em; }

  h2 {
    font-size: 1.2em; }

  h3 {
    font-size: 1em; }

  section.special, article.special {
    text-align: center; }

  header.major h2 {
    font-size: 1.35em; }

  ul.labeled-icons li {
    padding-left: 2em; }
    ul.labeled-icons li h3 {
      line-height: 1.75em; }

  #header {
    padding: 2.25em 1.5em; }
    #header h1 {
      font-size: 1.35em; }

  #footer {
    padding: 2.25em 1.5em; }

  #main {
    padding: 2.25em 1.5em 0.25em 1.5em; }
    #main > section {
      margin: 2.25em 0 0 0;
      padding: 2.25em 0 0 0; } }
@media (max-width: 480px) {
  ul.actions {
    margin: 0 0 2em 0; }
    ul.actions li {
      display: block;
      padding: 1em 0 0 0;
      text-align: center;
      width: 100%; }
      ul.actions li:first-child {
        padding-top: 0; }
      ul.actions li > * {
        margin: 0 !important;
        width: 100%; }
        ul.actions li > *.icon:before {
          margin-left: -2em; }
    ul.actions.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.small li:first-child {
        padding-top: 0; }

  #header h1 br {
    display: none; }

  #footer .copyright li {
    border-left-width: 0;
    display: block;
    line-height: 2.25em;
    margin-left: 0;
    padding-left: 0; } }

/*# sourceMappingURL=main.css.map */
